<div class="page-container">
  <div class="sidecontainer" style="-moz-box-shadow:  3px 0 0 #000000; -webkit-box-shadow:  3px 0 0 #000000;
  box-shadow: inset 0 0 10px #000000;">
    <div fxLayout="column" fxLayoutAlign="center">
      <p fxLayoutAlign="center">
        Profil użytkownika
      </p>
      <p fxLayoutAlign="center">
      -----------------------
    </p>
      <p fxLayoutAlign="center">
        Profil 1
      </p>
      <p fxLayoutAlign="center">
        Profil 2
      </p>
      <p fxLayoutAlign="center">
        ITD.
      </p>

    </div>
  </div>
  <div>
    <mat-sidenav-container >
      <mat-sidenav fixedInViewport="true" position="end" mode="side" [(opened)]="opened">
        <button mat-button>Ustawienia konta</button>
        <button mat-button>Ustawienia wyszukiwania</button>
        <button mat-button>Ustawienia profilu</button>
        <mat-slide-toggle>Ciemny Motyw</mat-slide-toggle>
      </mat-sidenav>
      <mat-sidenav-content>
        <button mat-fab class="menu-button" mat-button (click)="opened=!opened">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" style="height: 100%; margin-top: -50px;">
    <div style="width:350px; height: 580px; border: 2px solid black; background-color: #1ed760; border-radius: 5px; -webkit-border-radius: 5px">
      <p fxLayoutAlign="center center">
        Profile do przeglądania
      </p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" style="height: 150px;">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 300px;">
      <button mat-fab class="Dec" >
        <mat-icon>thumb_down_alt</mat-icon>
      </button>
      <button mat-fab class="Dec" >
        <mat-icon>thumb_up_alt</mat-icon>
      </button>
    </div>

  </div>
</div>
